.key {
  writing-mode: vertical-lr;
  text-orientation: vertical;
  width: 26px;
  display: block;
  float: left;
  text-align: right;
  font-size: 0.8em;
  position: relative;
  margin-right: 0px;
  padding-bottom: 3px;
  margin-left: 1px;
  box-shadow: 2px 2px 1px grey;

}

.key.flat {
  border: none;
  background-color: #000;
  color: #fff;
  height: 95px;
  width: 15px;
  margin-bottom: 55px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 1;

}

.key:not(.flat) {
  height: 150px;
}

.key.disabled {
  border: 1px solid #aaa;
}

.key.enabled {
  border: 1px solid #c0f;
  background-color: aqua;
  color: #000;
}